{% extends "main/base.html" %} 

{% block title %} 
  To Do
{% endblock %} 

{% block content %}
    <h1>To Do</h1>
    <p>Welcome to the To Do section!</p>

    <h2>Create a New To Do Item</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create To Do Item</button>
    </form>

  <h2>Your To Do List</h2>
  <p>There are {{ todos|length }} items in your To Do list:</p>

  <ul class="todoGroup">
    {% for todo in todos %}
      <li class="todoBox {% if todo.completed %}completed{% endif %}">
        <div class="todoHeader">

            <form method="post">
            {% csrf_token %}
            <input type="hidden" name="todo_id" value="{{ todo.pk }}">
            <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %} onchange="this.form.submit();">
            <input type="hidden" name="updateTodo" value="1">
            </form>
            
          <span class="todoTitle">{{ todo.title }}</span>
        </div>

        <div class="todoFooter">
          <a href="{% url 'todo:todoEdit' todo.pk %}">
            <button class="todoAction edit">Edit</button>
          </a>
          <a href="{% url 'todo:todoDelete' todo.pk %}">
            <button class="todoAction delete">Delete</button>
          </a>
          <span class="todoDate">Due: {{ todo.dueDate }}</span>
          <span class="todoRemind">Remind: {{ todo.remindDate }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>


{% endblock %}